In [1]:
import numpy as np
import pandas as pd

## task04   显示日志

In [2]:
file="C:/Users/gen'ch/pandas学习/task04/benchmark.txt"
df_txt=pd.read_table(file)

In [3]:
df_txt

                benchmark start :  2020/12/24 12:12:48
0                 Number of GPUs on current device : 1
1                                  CUDA Version : 11.0
2                                 Cudnn Version : 8005
3                       Device Name : GeForce RTX 3090
4    uname_result(system='Linux', node='gyh-X11DPi-...
..                                                 ...
389  shufflenet_v2_x1_5  model average inference ti...
390  Benchmarking Inference double precision type s...
391  shufflenet_v2_x2_0  model average inference ti...
392               benchmark end :  2020/12/24 12:56:47
393                                                end

[394 rows x 1 columns]

## task05 水压站点的特征工程

In [4]:
import pandas as pd
import numpy as np

In [5]:

df1=pd.read_csv("C:/Users/gen'ch/pandas学习/task05/qx1819.csv")
df2=pd.read_csv("C:/Users/gen'ch/pandas学习/task05/yali18.csv")
df3=pd.read_csv("C:/Users/gen'ch/pandas学习/task05/yali19.csv")

In [6]:
df1.head()

           日期    天气      气温                风向
0  2018-01-01    多云  1C～-4C            东南风 微风
1  2018-01-02  阴转多云   8C～0C          东北风 3-4级
2  2018-01-03  阴转小雪  1C～-1C     东北风 4-5级转4-5级
3  2018-01-04     阴  0C～-4C  东北风转北风 3-4级转3-4级
4  2018-01-05  阴转多云  3C～-4C   西风转北风 3-4级转3-4级

In [7]:
df2.head()

,Time,MeasName,H0,H1,H2,H3,H4,H5,H6,H7,...,H14,H15,H16,H17,H18,H19,H20,H21,H22,H23
0,2018-01-01,站点4,0.402750,0.407625,0.418125,0.425250,0.426000,0.425250,0.417375,0.426375,...,0.348750,0.359250,0.355500,0.344250,0.352125,0.356250,0.347250,0.343875,0.356625,0.418875
1,2018-01-01,站点7,0.214375,0.226750,0.232375,0.233125,0.235000,0.232750,0.230875,0.220000,...,0.187375,0.196750,0.199750,0.192250,0.186250,0.183250,0.177250,0.163375,0.165250,0.199375
2,2018-01-01,站点22,0.247000,0.248125,0.271375,0.251125,0.272125,0.256375,0.257125,0.242500,...,0.245500,0.242875,0.238375,0.230875,0.237250,0.236875,0.236500,0.236500,0.241000,0.254500
3,2018-01-01,站点21,0.284250,0.289875,0.283500,0.281250,0.288375,0.288750,0.285750,0.255750,...,0.227625,0.238125,0.238500,0.218625,0.207000,0.212625,0.209250,0.189000,0.217875,0.270000
4,2018-01-01,站点20,0.292875,0.295875,0.305250,0.298875,0.310125,0.300750,0.288375,0.262500,...,0.247500,0.241125,0.243375,0.232500,0.233625,0.224250,0.219375,0.202125,0.219375,0.286500

### 将df1和df2构造成df，将时间设为索引，第一列为站点编号，第二列为对应时刻的压力大小

In [8]:
df2.columns

Index(['Time', 'MeasName', 'H0', 'H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7',
       'H8', 'H9', 'H10', 'H11', 'H12', 'H13', 'H14', 'H15', 'H16', 'H17',
       'H18', 'H19', 'H20', 'H21', 'H22', 'H23'],
      dtype='object')

In [9]:
df2.set_index(["Time"],inplace=True)

In [10]:
df2

,MeasName,H0,H1,H2,H3,H4,H5,H6,H7,H8,...,H14,H15,H16,H17,H18,H19,H20,H21,H22,H23
Time,,,,,,,,,,,,,,,,,,,,,
2018-01-01,站点4,0.402750,0.407625,0.418125,0.425250,0.426000,0.425250,0.417375,0.426375,0.376500,...,0.348750,0.359250,0.355500,0.344250,0.352125,0.356250,0.347250,0.343875,0.356625,0.418875
2018-01-01,站点7,0.214375,0.226750,0.232375,0.233125,0.235000,0.232750,0.230875,0.220000,0.193750,...,0.187375,0.196750,0.199750,0.192250,0.186250,0.183250,0.177250,0.163375,0.165250,0.199375
2018-01-01,站点22,0.247000,0.248125,0.271375,0.251125,0.272125,0.256375,0.257125,0.242500,0.233500,...,0.245500,0.242875,0.238375,0.230875,0.237250,0.236875,0.236500,0.236500,0.241000,0.254500
2018-01-01,站点21,0.284250,0.289875,0.283500,0.281250,0.288375,0.288750,0.285750,0.255750,0.198375,...,0.227625,0.238125,0.238500,0.218625,0.207000,0.212625,0.209250,0.189000,0.217875,0.270000
2018-01-01,站点20,0.292875,0.295875,0.305250,0.298875,0.310125,0.300750,0.288375,0.262500,0.216375,...,0.247500,0.241125,0.243375,0.232500,0.233625,0.224250,0.219375,0.202125,0.219375,0.286500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31,站点12,0.215875,0.242875,0.247000,0.234250,0.250375,0.243625,0.223375,0.186625,0.154750,...,0.167500,0.170500,0.173500,0.167125,0.165625,0.162250,0.164875,0.152875,0.163750,0.179500
2018-12-31,站点17,0.214500,0.234000,0.241875,0.234375,0.243750,0.240750,0.220875,0.188625,0.184875,...,0.183750,0.188250,0.187500,0.183000,0.183000,0.181125,0.182250,0.176625,0.181125,0.185625
2018-12-31,站点2,0.267875,0.289250,0.295250,0.286250,0.298625,0.291125,0.266000,0.241250,0.238250,...,0.239750,0.236375,0.238625,0.233375,0.235250,0.235250,0.235250,0.236000,0.233000,0.234125
2018-12-31,站点9,0.287250,0.301875,0.306000,0.305250,0.313500,0.301500,0.279750,0.253875,0.214125,...,0.241500,0.237750,0.233625,0.227625,0.209625,0.226500,0.219750,0.211500,0.241125,0.246375
2018-12-31,站点6,0.313125,0.330375,0.333750,0.334500,0.337125,0.326625,0.310875,0.277875,0.243000,...,0.261375,0.259125,0.262125,0.252750,0.241500,0.252375,0.246750,0.239625,0.269250,0.269625

In [11]:
df2=df2.rename(columns={'H0':"00:00:00", 'H1':"01:00:00", 'H2':"02:00:00",
                    'H3':"03:00:00", 'H4':"04:00:00", 'H5':"05:00:00", 'H6':"06:00:00", 
                    'H7':"07:00:00",'H8':"08:00:00", 'H9':"09:00:00", 'H10':"10:00:00",
                    'H11':"11:00:00", 'H12':"12:00:00", 'H13':"13:00:00", 'H14':"14:00:00",
                    'H15':"15:00:00", 'H16':"16:00:00", 'H17':"17:00:00",'H18':"18:00:00",
                    'H19':"19:00:00", 'H20':"20:00:00", 'H21':"21:00:00", 'H22':"22:00:00",
                    'H23':"23:00:00"})

In [12]:
def split_fun(a):
    data=a[2:]
    return data

In [13]:
split_fun(s2)

'22'

In [14]:
df2["MeasName"]=df2["MeasName"].apply(split_fun)

In [15]:
df2

,MeasName,00:00:00,01:00:00,02:00:00,03:00:00,04:00:00,05:00:00,06:00:00,07:00:00,08:00:00,...,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00
Time,,,,,,,,,,,,,,,,,,,,,
2018-01-01,4,0.402750,0.407625,0.418125,0.425250,0.426000,0.425250,0.417375,0.426375,0.376500,...,0.348750,0.359250,0.355500,0.344250,0.352125,0.356250,0.347250,0.343875,0.356625,0.418875
2018-01-01,7,0.214375,0.226750,0.232375,0.233125,0.235000,0.232750,0.230875,0.220000,0.193750,...,0.187375,0.196750,0.199750,0.192250,0.186250,0.183250,0.177250,0.163375,0.165250,0.199375
2018-01-01,22,0.247000,0.248125,0.271375,0.251125,0.272125,0.256375,0.257125,0.242500,0.233500,...,0.245500,0.242875,0.238375,0.230875,0.237250,0.236875,0.236500,0.236500,0.241000,0.254500
2018-01-01,21,0.284250,0.289875,0.283500,0.281250,0.288375,0.288750,0.285750,0.255750,0.198375,...,0.227625,0.238125,0.238500,0.218625,0.207000,0.212625,0.209250,0.189000,0.217875,0.270000
2018-01-01,20,0.292875,0.295875,0.305250,0.298875,0.310125,0.300750,0.288375,0.262500,0.216375,...,0.247500,0.241125,0.243375,0.232500,0.233625,0.224250,0.219375,0.202125,0.219375,0.286500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31,12,0.215875,0.242875,0.247000,0.234250,0.250375,0.243625,0.223375,0.186625,0.154750,...,0.167500,0.170500,0.173500,0.167125,0.165625,0.162250,0.164875,0.152875,0.163750,0.179500
2018-12-31,17,0.214500,0.234000,0.241875,0.234375,0.243750,0.240750,0.220875,0.188625,0.184875,...,0.183750,0.188250,0.187500,0.183000,0.183000,0.181125,0.182250,0.176625,0.181125,0.185625
2018-12-31,2,0.267875,0.289250,0.295250,0.286250,0.298625,0.291125,0.266000,0.241250,0.238250,...,0.239750,0.236375,0.238625,0.233375,0.235250,0.235250,0.235250,0.236000,0.233000,0.234125
2018-12-31,9,0.287250,0.301875,0.306000,0.305250,0.313500,0.301500,0.279750,0.253875,0.214125,...,0.241500,0.237750,0.233625,0.227625,0.209625,0.226500,0.219750,0.211500,0.241125,0.246375
2018-12-31,6,0.313125,0.330375,0.333750,0.334500,0.337125,0.326625,0.310875,0.277875,0.243000,...,0.261375,0.259125,0.262125,0.252750,0.241500,0.252375,0.246750,0.239625,0.269250,0.269625