In [1]:
import pandas as pd

### 关于pandas的内容，之前有系统的学习和使用过，但是前一段时间没有在用，借助学习资料大约熟悉一下，孰能生巧
### 关于文件的读取和写入
#### pandas可以读取多种数据格式的文件，常见的有读取csv,excel,txt文件，读取文件
- 读取csv文件的函数和方式为：df_csv = pd.read_csv('data/my_csv.csv')
- 读取txt文件的函数和方式如下：df_txt = pd.read_table('data/my_table.txt')
- 读取excel文件：df_excel = pd.read_excel('data/my_excel.xlsx')
####  header=None 表示第一行不作为列名， index_col 表示把某一列或几列作为索引，索引的内容将会在第三章进行详述， usecols 表示读取列的集合，默认读取所有的列， parse_dates 表示需要转化为时间的列
#### 在读取 txt 文件时，经常遇到分隔符非空格的情况， read_table 有一个分割参数 sep ，它使得用户可以自定义分割符号，进行 txt 数据的读取。

### 数据写入
- 存储数据，使用to_csv函数to_csv(”存储的文件名，要加上.csv的扩展名，index=False，不保存索引号)
- df_excel.to_excel('data/my_excel_saved.xlsx', index=False)，可以保存为excel的格式文件
- df_txt.to_csv('data/my_txt_saved.txt', sep='\t', index=False)，保存txt文件
#### pandas 中没有定义 to_table 函数，但是 to_csv 可以保存为 txt 文件，并且允许自定义分隔符，常用制表符 \t 分割。

### 基本数据类型
#### pandas 中具有两种基本的数据存储结构，存储一维 values 的 Series 和存储二维 values 的 DataFrame ，在这两种结构上定义了很多的属性和方法。
- Series 一般由四个部分组成，分别是序列的值 data 、索引 index 、存储类型 dtype 、序列的名字 name 
- DataFrame 在 Series 的基础上增加了列索引，一个数据框可以由二维的 data 与行列索引来构造
#### 这些在上一个文件中都有代码实现过，不再做无用功了

### 主要的重点是pandas中的函数，及其的灵活运用
- head, tail 函数分别表示返回表或者序列的前 n 行和后 n 行，其中 n 默认为5
- info, describe 分别返回表的 信息概况 和表中 数值列对应的主要统计量

In [2]:
data=pd.read_csv('train_k.csv')

In [3]:
data.head()

,PhoneService,StreamingTV,StreamingMovies,PaperlessBilling,MonthlyCharges,MultipleLines_Yes,InternetService_Fiber optic,PaymentMethod_Electronic check,tenure_2,Churn
0,0,0,0,1,29.85,0,0,1,0,0
1,1,0,0,0,56.95,0,0,0,0,0
2,1,0,0,1,53.85,0,0,0,0,1
3,0,0,0,0,42.30,0,0,0,0,0
4,1,0,0,1,70.70,0,1,1,0,1

In [4]:
data.tail()

,PhoneService,StreamingTV,StreamingMovies,PaperlessBilling,MonthlyCharges,MultipleLines_Yes,InternetService_Fiber optic,PaymentMethod_Electronic check,tenure_2,Churn
7016,1,1,1,1,84.80,1,0,0,1,0
7017,1,1,1,1,103.20,1,1,0,0,0
7018,0,0,0,1,29.60,0,0,1,0,0
7019,1,0,0,1,74.40,1,1,0,0,1
7020,1,1,1,1,105.65,0,1,0,0,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7021 entries, 0 to 7020
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   PhoneService                    7021 non-null   int64
 1   StreamingTV                     7021 non-null   int64
 2   StreamingMovies                 7021 non-null   int64
 3   PaperlessBilling                7021 non-null   int64
 4   MonthlyCharges                  7021 non-null   float64
 5   MultipleLines_Yes               7021 non-null   int64
 6   InternetService_Fiber optic     7021 non-null   int64
 7   PaymentMethod_Electronic check  7021 non-null   int64
 8   tenure_2                        7021 non-null   int64
 9   Churn                           7021 non-null   int64
dtypes: float64(1), int64(9)
memory usage: 548.6 KB

In [6]:
data.describe()

,PhoneService,StreamingTV,StreamingMovies,PaperlessBilling,MonthlyCharges,MultipleLines_Yes,InternetService_Fiber optic,PaymentMethod_Electronic check,tenure_2,Churn
count,7021.000000,7021.000000,7021.000000,7021.000000,7021.000000,7021.000000,7021.000000,7021.000000,7021.000000,7021.000000
mean,0.902863,0.385558,0.389118,0.592651,64.851894,0.423159,0.440108,0.335992,0.145848,0.264492
std,0.296166,0.486761,0.487585,0.491376,30.069001,0.494095,0.496435,0.472370,0.352979,0.441094
min,0.000000,0.000000,0.000000,0.000000,18.250000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,35.750000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,1.000000,70.400000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,89.900000,1.000000,1.000000,1.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,118.750000,1.000000,1.000000,1.000000,1.000000,1.000000

### 特征统计函数
最常见的是 sum, mean, median, var, std, max, min

In [7]:
data['MonthlyCharges'].mean()

64.8518943170489

In [8]:
data['MonthlyCharges'].sum()

455325.15

In [9]:
data['MonthlyCharges'].median()

70.4

In [10]:
data['MonthlyCharges'].std()

30.06900095361293

####  quantile, count, idxmax 这三个函数，它们分别返回的是分位数、非缺失值个数、最大值对应的索引

In [12]:
data['MonthlyCharges'].quantile(0.5)
# 这里是中位数是70.4

70.4

In [14]:
data['MonthlyCharges'].count()
# 统计计数

7021

In [16]:
data['MonthlyCharges'].idxmax()  # 最大值所对应的索引位

4575

#### 对序列使用 unique 和 nunique 可以分别得到其唯一值组成的列表和唯一值的个数

In [17]:
data['MonthlyCharges'].unique()

array([29.85, 56.95, 53.85, ..., 63.1 , 44.2 , 78.7 ])

In [18]:
data['MonthlyCharges'].nunique()

1585

#### 如果想要观察多个列组合的唯一值，可以使用 drop_duplicates 。其中的关键参数是 keep ，默认值 first 表示每个组合保留第一次出现的所在行， last 表示保留最后一次出现的所在行， False 表示把所有重复组合所在的行剔除
#### 这个做法在数据挖掘中经常要用到，因为进行算法处理的数据不要有重复，对挖掘的最终结果不好

In [19]:
data['MonthlyCharges'].drop_duplicates()

0        29.85
1        56.95
2        53.85
3        42.30
4        70.70
         ...
6954     72.00
6965    108.35
6985     63.10
7004     44.20
7013     78.70
Name: MonthlyCharges, Length: 1585, dtype: float64

#### 此外， duplicated 和 drop_duplicates 的功能类似，但前者返回了是否为唯一值的布尔列表，其 keep 参数与后者一致。其返回的序列，把重复元素设为 True ，否则为 False 。 drop_duplicates 等价于把 duplicated 为 True 的对应行剔除

In [20]:
data['MonthlyCharges'].drop_duplicates().head()

0    29.85
1    56.95
2    53.85
3    42.30
4    70.70
Name: MonthlyCharges, dtype: float64

### 替换函数
#### pandas 中的替换函数可以归纳为三类：映射替换、逻辑替换、数值替换。其中映射替换包含 replace 方法、
#### 比如对原始数据进行处理的时候，将性别的属性值转换位0和1 ，就可以用replace，replace({'Female':0, 'Male':1})，
#### replace 还有一种特殊的方向替换，指定 method 参数为 ffill 则为用前面一个最近的未被替换的值进行替换， bfill 则使用后面最近的未被替换的值进行替换。
#### 逻辑替换包括了 where 和 mask ，这两个函数是完全对称的： where 函数在传入条件为 False 的对应行进行替换，而 mask 在传入条件为 True 的对应行进行替换，当不指定替换值时，替换为缺失值，对于这里的替换操作哦在pandas文件中也有代码示例，示例是简单的，到实际的应用有所不同

- round, abs, clip 方法，也是常用的对数据操作的方法，按照给定精度四舍五入、取绝对值和截断

In [23]:
t=pd.Series([1,2,3,4,5,6,7,8,9])
t.clip(1,5)
# 将数据中超出1-5的数据进行修改大于5的改位5，小于1的改为1，在1和5之间的不做变化

0    1
1    2
2    3
3    4
4    5
5    5
6    5
7    5
8    5
dtype: int64

### 排序函数
排序共有两种方式，其一为值排序，其二为索引排序，对应的函数是 sort_values 和 sort_index

In [24]:
data['MonthlyCharges'].sort_values()

3711     18.25
1526     18.40
6634     18.55
6885     18.70
1155     18.70
         ...
5116    118.35
4793    118.60
3885    118.60
2110    118.65
4575    118.75
Name: MonthlyCharges, Length: 7021, dtype: float64

### apply方法 
apply 方法常用于 DataFrame 的行迭代或者列迭代，apply 的参数往往是一个以序列为输入的函数

In [32]:
data[['MonthlyCharges','PaperlessBilling']].apply(lambda x: x.mean())

MonthlyCharges      64.851894
PaperlessBilling     0.592651
dtype: float64

### 重点了，窗口对象，之前俺没有玩过的一个功能
pandas 中有3类窗口，分别是：
- 滑动窗口 rolling 、
- 扩张窗口 expanding 
- 以及指数加权窗口 ewm 。

### 滑窗对象
要使用滑窗函数，就必须先要对一个序列使用 .rolling 得到滑窗对象，其最重要的参数为窗口大小 window

In [34]:
t1=pd.Series([1,2,3,4,5,6,7,8,9])
roller=t1.rolling(window=3)
roller

Rolling [window=3,center=False,axis=0]

In [35]:
roller.mean()

0    NaN
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
dtype: float64

In [37]:
roller.sum()

0     NaN
1     NaN
2     6.0
3     9.0
4    12.0
5    15.0
6    18.0
7    21.0
8    24.0
dtype: float64

In [42]:
t2=pd.Series([22,33,44,66,78,99])
roller.cov(t2)

0     NaN
1     NaN
2    11.0
3    16.5
4    17.0
5    16.5
6     NaN
7     NaN
8     NaN
dtype: float64

In [43]:
roller.corr(t2)

0         NaN
1         NaN
2    1.000000
3    0.981981
4    0.985887
5    0.987829
6         NaN
7         NaN
8         NaN
dtype: float64

#### shift, diff, pct_change 是一组类滑窗函数，它们的公共参数为 periods=n ，默认为1，分别表示取向前第 n 个元素的值、与向前第 n 个元素做差（与 Numpy 中不同，后者表示 n 阶差分）、与向前第 n 个元素相比计算增长率。这里的 n 可以为负，表示反方向的类似操作。

In [44]:
s = pd.Series([1,3,6,10,15])
s.shift(2)

0    NaN
1    NaN
2    1.0
3    3.0
4    6.0
dtype: float64

In [45]:
s.diff(3)

0     NaN
1     NaN
2     NaN
3     9.0
4    12.0
dtype: float64

In [46]:
s.pct_change()

0         NaN
1    2.000000
2    1.000000
3    0.666667
4    0.500000
dtype: float64

In [47]:
s.shift(-1)

0     3.0
1     6.0
2    10.0
3    15.0
4     NaN
dtype: float64

In [48]:
s.diff(-2)

0   -5.0
1   -7.0
2   -9.0
3    NaN
4    NaN
dtype: float64

### 扩张窗口
#### 扩张窗口又称累计窗口，可以理解为一个动态长度的窗口，其窗口的大小就是从序列开始处到具体操作的对应位置，其使用的聚合函数会作用于这些逐步扩张的窗口上。具体地说，设序列为a1, a2, a3, a4，则其每个位置对应的窗口即[a1]、[a1, a2]、[a1, a2, a3]、[a1, a2, a3, a4]

In [49]:
t3=pd.Series([12,23,34,56,67,89])
t3.expanding().mean()

0    12.000000
1    17.500000
2    23.000000
3    31.250000
4    38.400000
5    46.833333
dtype: float64