In [1]:
import pandas as pd

##  ä»»åŠ¡ä¸€  ä¼ä¸šæ”¶å…¥çš„å¤šæ ·æ€§
### ä¸€ä¸ªä¼ä¸šçš„äº§ä¸šæ”¶å…¥å¤šæ ·æ€§å¯ä»¥ä»¿ç…§ä¿¡æ¯ç†µçš„æ¦‚å¿µæ¥å®šä¹‰æ”¶å…¥ç†µæŒ‡æ ‡
#### å…¶ä¸­ 
p(xi) æ˜¯ä¼ä¸šè¯¥å¹´æŸäº§ä¸šæ”¶å…¥é¢å è¯¥å¹´æ‰€æœ‰äº§ä¸šæ€»æ”¶å…¥çš„æ¯”é‡ã€‚åœ¨company.csvä¸­å­˜æœ‰éœ€è¦è®¡ç®—çš„ä¼ä¸šå’Œå¹´ä»½ï¼Œåœ¨company_data.csvä¸­å­˜æœ‰ä¼ä¸šã€å„ç±»æ”¶å…¥é¢å’Œæ”¶å…¥å¹´ä»½çš„ä¿¡æ¯ã€‚ç°è¯·åˆ©ç”¨åä¸€å¼ è¡¨ä¸­çš„æ•°æ®ï¼Œåœ¨å‰ä¸€å¼ è¡¨ä¸­å¢åŠ ä¸€åˆ—è¡¨ç¤ºè¯¥å…¬å¸è¯¥å¹´ä»½çš„æ”¶å…¥ç†µæŒ‡æ ‡I

In [4]:
data1=pd.read_csv("./task01/company.csv")
data2=pd.read_csv("./task01/company_data.csv")

In [5]:
data1.head()

      è¯åˆ¸ä»£ç     æ—¥æœŸ
0  #000007  2014
1  #000403  2015
2  #000408  2016
3  #000408  2017
4  #000426  2015

In [6]:
data2.head()

   è¯åˆ¸ä»£ç           æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
0     1  2008/12/31     1  1.084218e+10
1     1  2008/12/31     2  1.259789e+10
2     1  2008/12/31     3  1.451312e+10
3     1  2008/12/31     4  1.063843e+09
4     1  2008/12/31     5  8.513880e+08

In [7]:
data2.è¯åˆ¸ä»£ç

0              1
1              1
2              1
3              1
4              1
           ...
964017    900957
964018    900957
964019    900957
964020    900957
964021    900957
Name: è¯åˆ¸ä»£ç , Length: 964022, dtype: int64

In [25]:
data2.è¯åˆ¸ä»£ç .value_counts()

2024      989
600117    924
2109      909
600351    892
43        883
         ...
603323     10
600919     10
2807       10
600001     10
200041      6
Name: è¯åˆ¸ä»£ç , Length: 3172, dtype: int64

In [31]:
n=data2.è¯åˆ¸ä»£ç .values

### åœ¨company_data.csvä¸­å­˜æœ‰ä¼ä¸šã€å„ç±»æ”¶å…¥é¢å’Œæ”¶å…¥å¹´ä»½çš„ä¿¡æ¯ï¼Œè®¡ç®—æŸä¸€ç§æ”¶å…¥çš„æŒ‡æ ‡ç†µ
### å°†å…¬å¸çš„è¯åˆ¸ä»£ç è¡¥é½å’Œdata1ä¸€æ ·ï¼Œç„¶åï¼Œè®¡ç®—å„ä¸ªå…¬å¸çš„æ”¶å…¥ç±»å‹æ‰€å çš„æ”¶å…¥æ¯”ä¾‹

#### åœ¨è¿™é‡Œå¯ä»¥çœ‹åˆ°ï¼Œè¡¨2ä¸­çš„æ•°æ®æœ‰å››ç§ï¼Œä¸€ç§æ˜¯è¯åˆ¸ä»£ç ï¼Œè¿™é‡Œå¯ä»¥ç†è§£ä¸ºå…¬å¸çš„ä»£ç ï¼Œæ—¥æœŸï¼Œæ”¶å…¥ç±»å‹ã€æ”¶å…¥é¢ï¼Œè¿™é‡Œåº”è¯¥æ˜¯æ¯ä¸€è¡Œæ•°æ®éƒ½æ˜¯ä¸€ä¸ªå…¬å¸æŸç§æ”¶å…¥çš„æ•°æ®ï¼Œä¸€ä¸ªå…¬å¸åˆå¤šç§æ”¶å…¥ï¼Œæ‰€ä»¥ï¼Œä¸€ä¸ªå…¬å¸å¯ä»¥æœ‰å¤šæ¡æ•°æ®ï¼Œè¿™äº›æ•°æ®å…±åŒæ„æˆä¸€ä¸ªå…¬å¸çš„æ”¶å…¥

In [20]:
data2.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 964022 entries, 0 to 964021
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   è¯åˆ¸ä»£ç     964022 non-null  int64
 1   æ—¥æœŸ      964022 non-null  object
 2   æ”¶å…¥ç±»å‹    964022 non-null  int64
 3   æ”¶å…¥é¢     940887 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 29.4+ MB

### ä»»åŠ¡äºŒ  ç»„é˜Ÿå­¦ä¹ ä¿¡æ¯è¡¨çš„å˜æ¢
è¯·æŠŠç»„é˜Ÿå­¦ä¹ çš„é˜Ÿä¼ä¿¡æ¯è¡¨å˜æ¢ä¸ºå¦‚ä¸‹å½¢æ€ï¼Œå…¶ä¸­â€œæ˜¯å¦é˜Ÿé•¿â€ä¸€åˆ—å–1è¡¨ç¤ºé˜Ÿé•¿ï¼Œå¦åˆ™ä¸º0

In [34]:
data3=pd.read_excel("ç»„é˜Ÿä¿¡æ¯æ±‡æ€»è¡¨ï¼ˆPandasï¼‰.xlsx")

In [35]:
data3.head()

,æ‰€åœ¨ç¾¤,é˜Ÿä¼åç§°,é˜Ÿé•¿ç¼–å·,é˜Ÿé•¿_ç¾¤æ˜µç§°,é˜Ÿå‘˜1 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°,é˜Ÿå‘˜2 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.1,é˜Ÿå‘˜3 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.2,...,é˜Ÿå‘˜6 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.5,é˜Ÿå‘˜7 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.6,é˜Ÿå‘˜8 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.7,é˜Ÿå‘˜9 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.8,é˜Ÿå‘˜10ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.9
0,Pandasæ•°æ®åˆ†æ,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,5,å±±æ«å¶çº·é£,6,è”¡,7.0,å®‰æ…•å¸Œ,8.0,ä¿¡ä»°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Pandasæ•°æ®åˆ†æ,ç†ŠçŒ«äºº,175,é±¼å‘²å‘²,44,Heaven,37.0,å•é’,50.0,ä½™æŸ³æˆè«,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong
2,Pandasæ•°æ®åˆ†æ,ä¸­å›½ç§»ä¸åŠ¨,107,Y's,124,ğŸ¥•,75.0,Vito,146.0,å¼ å°äº”,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Pandasæ•°æ®åˆ†æ,panda,11,å¤ªä¸‹çœŸå›,35,æŸšå­,108.0,My,42.0,æ˜Ÿæ˜Ÿç‚¹ç¯,...,157.0,Zys,158.0,ä¸å™¨,102.0,å˜‰å¹³ä½‘æŸ“,NaN,NaN,NaN,NaN
4,Pandasæ•°æ®åˆ†æ,ä¸€è·¯å‘åŒ—,13,é»„å…ƒå¸…,15,åŒ–,16.0,æœªæœŸ,18.0,å¤ªé™½å…‰ä¸‹,...,23.0,ğŸš€,169.0,å¬é£,189.0,Cappuccino,NaN,NaN,NaN,NaN

#### å¯¹äºè¿™ä¸€ä¸ªä»»åŠ¡çš„å¤„ç†æ˜¯å…ˆå°†åŸå§‹æ•°æ®é›†ä¸­çš„æ‰€åœ¨ç¾¤åˆ—åˆ é™¤ï¼Œç„¶åæ ¹æ®é˜Ÿä¼åç§°å°†è¡¨æ ¼æ•°æ®é‡æ–°æ’åˆ—ï¼Œè®©æ•°æ®æŒ‰ç…§é‚£ä¸ªé˜Ÿä¼åç§°æ’åˆ—å¥½ï¼›ç„¶åå†å¤„ç†é˜Ÿé•¿çš„é—®é¢˜ï¼Œå°†æ‰€å¯¹åº”çš„é˜Ÿé•¿ç¼–å·è½¬æ¢ä¸º1ï¼Œé˜Ÿå‘˜ç¼–å·è½¬æ¢ä¸º0

In [40]:
data3.drop('æ‰€åœ¨ç¾¤', axis=1, inplace=True)

In [44]:
data3.sort_values(by="é˜Ÿä¼åç§°")

,é˜Ÿä¼åç§°,é˜Ÿé•¿ç¼–å·,é˜Ÿé•¿_ç¾¤æ˜µç§°,é˜Ÿå‘˜1 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°,é˜Ÿå‘˜2 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.1,é˜Ÿå‘˜3 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.2,é˜Ÿå‘˜4 ç¼–å·,...,é˜Ÿå‘˜6 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.5,é˜Ÿå‘˜7 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.6,é˜Ÿå‘˜8 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.7,é˜Ÿå‘˜9 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.8,é˜Ÿå‘˜10ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.9
17,Attentionï¼keepå¹²é¥­,21,é˜¿èŠ’Aris,152,Alex,95.0,Jie,104.0,æ¢¦æƒ³å®¶,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Kung Fu Pandas,180,æ˜Ÿ,167,swordsman,32.0,é™ˆæ˜“ç”·,161.0,zzx,110.0,...,111.0,#Paletteboo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Null,103,Co,137,Z.,69.0,Albert,76.0,åŒ—æ–¹,86.0,...,85.0,æ…•æ˜æ™º,133.0,å°èœé¸¡,NaN,NaN,NaN,NaN,NaN,NaN
6,Whyâ€”è´°è‚†,48,Cliff,81,ww,147.0,å°æ¸…æ–°,47.0,å“ˆæ¡‘çš„é›¨å¤©,125.0,...,119.0,å¯å£å¯ä¹ä¸æœç²’æ©™,92.0,ä¸€ä»£å¤©éª„,139.0,xg,1.0,MoXQian,NaN,NaN
15,joyful,9,AI,106,moon,87.0,å¿«ä¹çš„è²”è²…,12.0,åŒæ‰‹,66.0,...,10.0,å¤©å›½ä¹‹å½±,170.0,WinqiHe,17.0,ç‹å©·-TeneT,NaN,NaN,NaN,NaN
3,panda,11,å¤ªä¸‹çœŸå›,35,æŸšå­,108.0,My,42.0,æ˜Ÿæ˜Ÿç‚¹ç¯,45.0,...,157.0,Zys,158.0,ä¸å™¨,102.0,å˜‰å¹³ä½‘æŸ“,NaN,NaN,NaN,NaN
14,pandas gogogo,27,daydayup,183,éƒç¿Š Eva,182.0,è¾£ç™½èœ,138.0,æ—¶ä»£çš„ç—…äºº,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,pandasä»å…¥é—¨åˆ°ç²¾é€š,3,è‹limin,74,carlos,56.0,maybe,156.0,glow,40.0,...,136.0,lun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ä¸€è·¯å‘åŒ—,13,é»„å…ƒå¸…,15,åŒ–,16.0,æœªæœŸ,18.0,å¤ªé™½å…‰ä¸‹,19.0,...,23.0,ğŸš€,169.0,å¬é£,189.0,Cappuccino,NaN,NaN,NaN,NaN
19,ä¸ƒæ˜Ÿè”ç›Ÿ,14,å¡é²é¼™æ¬§ï¼,140,Radio,105.0,å‡è‚¥çš„å¡æ¯”å…½,118.0,å¥½å¥‡å®å®,63.0,...,112.0,rain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,ä¸æ€¥ä¸èºæˆ‘æœ€æ£’âœŒï¸,2,Lyndsey,90,Roman.,91.0,ææ¾æ³½ Orwell,115.0,L.,163.0,...,62.0,ä½¬ä»”,30.0,JWJ,154.0,ğŸ‘€,NaN,NaN,NaN,NaN
2,ä¸­å›½ç§»ä¸åŠ¨,107,Y's,124,ğŸ¥•,75.0,Vito,146.0,å¼ å°äº”,186.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,5,å±±æ«å¶çº·é£,6,è”¡,7.0,å®‰æ…•å¸Œ,8.0,ä¿¡ä»°,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,å¸ˆæ‰¿æ½˜å¤§å¸ˆé˜Ÿ,33,Tango,49,æ‹¿é“,100.0,æ‡µæ‡‚å‡ºèŒ…åº,52.0,Esther,109.0,...,38.0,æ —å­,162.0,è½å¶,150.0,å°æµ£ç†Š,159.0,é‡å®‰,NaN,NaN
20,åº”å¦‚æ˜¯,54,æ€æ— é‚ª,58,Justzer0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,æ‰«åœ°åƒ§,181,é˜¿ç…œ,31,Bartender,70.0,æ—æœ¨æœ¨,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,æ²¡æƒ³å¥½å«ä»€ä¹ˆé˜Ÿ,4,ç‹ç‘æ¥,64,17,73.0,å¶,46.0,å±±èŒ¶,177.0,...,24.0,æ¸…é£,153.0,å°é—¹,78.0,ç½ç½å„¿,117.0,xxxxxxl,NaN,NaN
1,ç†ŠçŒ«äºº,175,é±¼å‘²å‘²,44,Heaven,37.0,å•é’,50.0,ä½™æŸ³æˆè«,82.0,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong
9,ç¿»æ»šå§ï¼Œç†ŠçŒ«,96,å¤æ´›å…‹,168,å˜¿,98.0,Gocara,83.0,é‰¹,113.0,...,93.0,Lance,34.0,â˜ï¸,NaN,NaN,NaN,NaN,NaN,NaN
5,è¥¿éƒ¨æˆ˜è½¦,149,è€ç‹¼,51,Robin or Michael,72.0,æ…•å®‰æ˜¥ä¸´,160.0,å“¦è±,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,é²²é²²ç©Python,26,æœ¨å—å±…å£«,187,å†»è‰è“,61.0,Shawn,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
data3=data3.rename(columns={'é˜Ÿé•¿_ç¾¤æ˜µç§°': 'æ˜µç§°'})

In [48]:
data3.head()

,é˜Ÿä¼åç§°,é˜Ÿé•¿ç¼–å·,æ˜µç§°,é˜Ÿå‘˜1 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°,é˜Ÿå‘˜2 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.1,é˜Ÿå‘˜3 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.2,é˜Ÿå‘˜4 ç¼–å·,...,é˜Ÿå‘˜6 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.5,é˜Ÿå‘˜7 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.6,é˜Ÿå‘˜8 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.7,é˜Ÿå‘˜9 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.8,é˜Ÿå‘˜10ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.9
0,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,5,å±±æ«å¶çº·é£,6,è”¡,7.0,å®‰æ…•å¸Œ,8.0,ä¿¡ä»°,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ç†ŠçŒ«äºº,175,é±¼å‘²å‘²,44,Heaven,37.0,å•é’,50.0,ä½™æŸ³æˆè«,82.0,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong
2,ä¸­å›½ç§»ä¸åŠ¨,107,Y's,124,ğŸ¥•,75.0,Vito,146.0,å¼ å°äº”,186.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,panda,11,å¤ªä¸‹çœŸå›,35,æŸšå­,108.0,My,42.0,æ˜Ÿæ˜Ÿç‚¹ç¯,45.0,...,157.0,Zys,158.0,ä¸å™¨,102.0,å˜‰å¹³ä½‘æŸ“,NaN,NaN,NaN,NaN
4,ä¸€è·¯å‘åŒ—,13,é»„å…ƒå¸…,15,åŒ–,16.0,æœªæœŸ,18.0,å¤ªé™½å…‰ä¸‹,19.0,...,23.0,ğŸš€,169.0,å¬é£,189.0,Cappuccino,NaN,NaN,NaN,NaN

In [55]:
data3.é˜Ÿå‘˜_ç¾¤æ˜µç§°

0                   è”¡
1               Heaven
2                    ğŸ¥•
3                   æŸšå­
4                    åŒ–
5     Robin or Michael
6                   ww
7                   æ‹¿é“
8            Bartender
9                    å˜¿
10           swordsman
11              Roman.
12                  17
13                 å†»è‰è“
14              éƒç¿Š Eva
15                moon
16              carlos
17                Alex
18                  Z.
19               Radio
20            Justzer0
Name: é˜Ÿå‘˜_ç¾¤æ˜µç§°, dtype: object

### ä»»åŠ¡ä¸‰ ç¾å›½å¤§é€‰æŠ•ç¥¨æƒ…å†µ
#### ä¸¤å¼ æ•°æ®è¡¨ä¸­åˆ†åˆ«ç»™å‡ºäº†ç¾å›½å„å¿ï¼ˆcountyï¼‰çš„äººå£æ•°ä»¥åŠå¤§é€‰çš„æŠ•ç¥¨æƒ…å†µï¼Œè¯·è§£å†³ä»¥ä¸‹é—®é¢˜ï¼š

- æœ‰å¤šå°‘å¿æ»¡è¶³æ€»æŠ•ç¥¨æ•°è¶…è¿‡å¿äººå£æ•°çš„ä¸€åŠ
- æŠŠå·ï¼ˆstateï¼‰ä½œä¸ºè¡Œç´¢å¼•ï¼ŒæŠŠæŠ•ç¥¨å€™é€‰äººä½œä¸ºåˆ—åï¼Œåˆ—åçš„é¡ºåºæŒ‰ç…§å€™é€‰äººåœ¨å…¨ç¾çš„æ€»ç¥¨æ•°ç”±é«˜åˆ°ä½æ’åºï¼Œè¡Œåˆ—å¯¹åº”çš„å…ƒç´ ä¸ºè¯¥å€™é€‰äººåœ¨è¯¥å·è·å¾—çš„æ€»ç¥¨æ•°

In [37]:
data4=pd.read_csv("./task03/county_population.csv")
data5=pd.read_csv("./task03/president_county_candidate.csv")

In [38]:
data4.head()

                  US County  Population
0  .Autauga County, Alabama       55869
1  .Baldwin County, Alabama      223234
2  .Barbour County, Alabama       24686
3     .Bibb County, Alabama       22394
4   .Blount County, Alabama       57826

In [39]:
data5.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True